{% extends 'base.html' %}

{% block content %}

    <h2>Запуск этапов:</h2>
    <form method="post">{% csrf_token %}
        <ul style="list-style: none;">
        {% for func, title in steps %}
            <li>
                <label>
                    <input type="checkbox" name="{{ func }}" />
                    <b>{% if title %}{{ title }}{% else %}{{ func }}{% endif %}<b>
                </label>
            </li>
        {% endfor %}
        </ul>
        <button type="submit">Запустить</button>
    </form>

{% endblock %}
